@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700');

//Font
$font-family-base:          'Lato', sans-serif;

//colors
$brand-primary:             #ff3d49;
$brand-secondary:           #ff5a5a;
$brand-success:             #00c853;
$brand-danger:              #f30053;
$text-color:                #a8a8a8;
$body-bg:                   linear-gradient(135deg,#ffffff,#91abc0);
$shell-bg:                  #ffffff;

// Header
$header-text-color:         #ffffff;

// Buttons
$btn-default-bg:             #212121;
$btn-primary-bg:             darken($brand-primary, 10%);
$btn-text-color:             #ffffff;

// Input
$input-text-color:          #ffffff;
$input-border-bottom-color: #ffffff;

//Sizes
$base-px-value:               8px;
$shell-width:                 320px;
